Machine_Learning_in_Action.pdf
data
*.pyc
Chapter3_tree.py
Chapter2_kNN.py
*.pickle
*Notebook-checkpoint.ipynb
settings.json
Chapter4_NaiveBayes.py
Chapter5_logistic_regression.py
.ipynb_checkpoints/
Chapter6_SVM.py
svmMLiA_.py